ai.conf
clash
cline
configstore
coc
crossnote
devbox
filezilla
fontforge
github-copilot/hosts*
karabiner_2022*
kitty/themes/*
!kitty/themes
!kitty/themes/tokyonight_night.conf
!kitty/themes/gruvbox_dark.conf
lazygit/state.yml
rstudio
yarn/link
__pycache__
.DS_Store
.mono
.zim/init.zsh
.zim/modules
.zcomp*
.isolated-storage
.cloudbase
.android
.*history
*.old
*.bak
*.bak.*
