**/api-keys
**/api-keys.conf
clash
cline
configstore
coc
crossnote
devbox
filezilla
fontforge
github-copilot/hosts*
iterm2/AppSupport
karabiner_2022*
kitty/themes/*
!kitty/themes
!kitty/themes/tokyonight_night.conf
!kitty/themes/gruvbox_dark.conf
eza/themes/*
!eza/themes
!eza/themes/theme.yml
lazygit/state.yml
**/lazy-lock.json
rstudio
yarn/link
__pycache__
.DS_Store
.mono
.zim/init.zsh
.zim/modules
.zcomp*
.isolated-storage
.cloudbase
.android
.*history
*.old
*.bak
*.bak.*
nvim/lazy-lock.json
lvim/
noderc/.npmrc
uv/uv-receipt.json

